<script src=" https://cdn.jsdelivr.net/npm/simplelightbox@2.14.3/dist/simple-lightbox.min.js "></script>
<link href=" https://cdn.jsdelivr.net/npm/simplelightbox@2.14.3/dist/simple-lightbox.min.css " rel="stylesheet">

<div class="gallery">

    {% for attachment in plugin.attachments %}

    <a href="{{ attachment.fully_qualified_url }}">
        <img style="width: 25%" src="{{ attachment.fully_qualified_url }}" alt="{{ attachment.comment }}" title="{{ attachment.basename }}"/>
    </a>

    {% endfor %}

</div>

<script>
    new SimpleLightbox('.gallery a', { /* options */ });
</script>